
        
html {
    font-family: 'Open Sans';
    }

body {
    background-color:gray;
    }
    a:link {
    color: red;
    text-decoration: none;
    }

    a:active {
        color: #F5D04C;
    }

   a:visited{
        text-decoration: none; 
        color: red;
    }
    
    nav a:visited {
        text-decoration: none; 
        color: white; 
    }
    /*PAGE TITLE*/
    .name {
        flex:1;
        margin-left:94px;
        font-family: Open Sans;
    }
    .abunai {
        font-size: 28px;
        color: white;
    }

    .abunai2{
        color:red;
        font-size:22px;
        font-weight:300;
    }
    
    .name a {
        font-weight: 700;
    }

    .links{
        flex:2;
        margin-left:94px;
        font-size:14px;
    }

    /*NAV BAR*/

    nav{
        padding: 4px;
        box-sizing: border-box;
        height: 50px;
        display: flex;
        background: linear-gradient(rgba(93,93,93,1), black); /* Standard syntax */
    }

    nav a {
    padding-left:22px;
    padding-right:22px;
    padding-top:0px;
    padding-bottom:0px;
    height:0px;
    color: white;
    text-decoration:none;
    position: relative;
    margin-top: 10px;
    }
    
    .parent {
    height: 700px;
    width: 1156px;
    background-color: teal;
    margin: 0 auto;
    overflow: scroll;
    }

    section {
        
        width: 1156px;
        background-color:pink;
        display: flex;
    }

    section > div {
        background: black;
        padding: 20px;
        width: 100%;
        display: flex;
        background-size: 100% 120%;

    }

    .image {
        display:inline;
        flex:3;
        background-color:green;
        margin: 5px;
        border-radius:5px;
        background-color:rgba(0,0,0,0);
    }

    img {
        width:100%;
    }

    .bg {
        display: flex;
        flex-direction: column;
        color: red;
    }
    input {
         width:400px;
    }

    footer {
        height: 50px;
        background-color: black;
        width:1156px;
        margin-left: auto;
        margin-right: auto;
    }

