<style type="text/css">


    html {
        font-family: 'Open Sans';
        font-weight: 300;
    }

    body {
         background-image: url("abunai/grunge.jpg");
         font-family: 'Open Sans';
    }

    header{
       height: 20px;
       background-color: black;
       color:white;
       text-align: left;
    }

    header a {
        color: white;
        font-weight: 300;
        text-decoration:none;
    }
    header span {
        color:red;
        margin-right: 163px;
        margin-left: 20px;
    }

    .login {
        margin-left: 520px;
        position: absolute;    
    }
    
    .hello {
        margin-left: 939px;
        position: absolute;
    }
    
    .logout {
        position: absolute;
    }

    .message {
        position: relative;
        width: 98px ;
        top: -50;
        left: 1030;
    }

    .register {
        position: absolute;
    }

    a:link {
    color: red;
    text-decoration: none;
    }

    a:active {
        color: #F5D04C;
    }

   a:visited{
        text-decoration: none; 
        color: red;
    }
    
    nav a:visited {
        text-decoration: none; 
        color: white; 
    }
    /*PAGE TITLE*/
    .name {
        flex:1;
        margin-left:94px;
        font-family: Open Sans;
    }
    .abunai {
        font-size: 28px;
        color: white;
    }

    .abunai2{
        color:red;
        font-size:22px;
        font-weight:300;
    }
    
    .name a {
        font-weight: 700;
    }

    .links{
        flex:2;
        margin-left:94px;
        font-size:14px;
    }

    /*NAV BAR*/

    nav{
        padding: 4px;
        box-sizing: border-box;
        height: 50px;
        display: flex;
        background: linear-gradient(rgba(93,93,93,1), black); /* Standard syntax */
    }

    nav a {
        padding-left:22px;
        padding-right:22px;
        padding-top:0px;
        padding-bottom:0px;
        height:0px;
        color: white;
        text-decoration:none;
        position: relative;
        margin-top: 10px;
    }
   /* MAIN BODY*/
    .parent {
        width: 1156px;
        background-color: teal;
        margin: 0 auto;
        box-shadow: 0 0 20px #000;
	}

    .hero {
        background-image: url("abunai/retouchedImage.jpg");
        background-size: 100%;
    }

    .gradient {
        background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3), black);

    }
    
    section {
        height: 674px;
        width: 1156px;
        background-color:rgba(0,0,0,0);
        display: flex;
    }

    section > div {
        background: rgba(0,0,0,0);
        width: 100%;
        display: flex;
        background-size: 100% 120%;
    }

    .image {
        display:inline;
        flex:3;
        background-color:green;
        margin: 5px;
        border-radius:5px;
        background-color:rgba(0,0,0,0);
    }

    img {
        width:100%;
    }

    .bg {
        display: flex;
        flex-direction: column;
        color: #00CCFF;
    }

    /*SELECTION BAR*/
    .selectionBar {
        background: linear-gradient(#4D4D4D, black);    
        text-align: center;
        height:100px;
    }

    .selectionBox {
        width:300px;
        background-color: white;
        display: inline-block;
        margin:5px;
        transform: translate(0px, -165px);
        box-shadow: 5px 5px 10px #000;
    }

    .selectionImage {
        background-color:lightblue;
        height:160px;
    }

    .selectionImage img {
        height:100%;
        width:100%;
    }

    .selectionContent {
        height: 80px;
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
        background: linear-gradient(#4D4D4D, black); /* Standard syntax */
    }

    .selectionContent span {
    	color: #F5D04C;
    }

    .selectionContent h2 {
        margin: 0px;
        color: white;
    }

    /*BOTTOM PORTION*/
    .primary {
        width: 1156px;
        background-image: url("abunai/grunge.jpg");
        text-align: center;
       
    }
    .panel {
        display:inline-block;
        text-align: left;
    }

    .panel .title {
        color:white;
        font-size:22px;
        font-weight:300;
        padding: 12px;
    }
    /*LEFT PANEL*/
    .articleFacebook{
        display: inline-block;
        width: 500px;
        height: 640px;
        margin: 5px;
        background-color: rgba(0,0,0,0);
        text-align: left;
        box-shadow: 0 0 20px black;
    }
    
    .articleAttend {
        display: inline-block;
        width: 300px;
        height: 640px;
        margin: 5px;
        background-color: rgba(0,0,0,0);
        text-align: left;
        overflow: scroll;
    }   
    .articleSchedule {
        display: inline-block;
        color: white;
        width: 300px;
        height: 640px;
        margin: 5px;
        background-color: rgba(0,0,0,0);
        text-align: left;
        overflow: scroll;
    }
    .articleNotice {
        display: inline-block;
        width: 259px;
        height: 640px;
        margin: 5px;
        background-color: rgba(0,0,0,0);
        text-align: left;
        overflow: scroll;
        position: relative;
        top:0;
        left:0;
    }        
    .articleNoticeTop {
        display: inline-block;
        width: 300px;
        height: 536px;
        margin: 5px;
        background-color: rgba(0,0,0,0);
        text-align: left;
        overflow: scroll;
        position: relative;
        top:0;
        left:0;
    }

    .date {
    	color:white;
    	font-weight: 300;
    }

    .make {
    	font-size:16px;
    }

    .content h2 {
        color: red;
    }

    .title {
        color: white;
        margin-left: 5px;
    }

    article .content {
        color: white;
        height:3000px;
    }
    .content strong {
        color: red;
    }
    
    .content h1 {
        text-align: center;
    }
    i {
        color: red;
    }
    .attending {
        width:100%;
    }
    .attending h3 {
        color: white;
        text-align: center;
    }
    .popUp {
        width: 90%;
        display: flex;
        padding:5px;
        background-color:rgba(0,0,0,0.4);
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .popUp .aside{
        flex:1;
        height:95px;
        background-color: white;
    }

    .popUp .aside img{
        height: 100%;
        width:91px;
        overflow: hidden;
    }
    .popUp .content{
        flex:2;
        height: 70px;
        background-color: rgba(0,0,0,0);
        text-decoration: none;
        color: white;
    }
    .popUp span {
        color: white;
    }

    #triangle {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 16px solid red;
        border-bottom: 8px solid transparent;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
    }
    .announce {
        background-color: white;
        color: white;
        font-size: 16px;
        display:block;
        margin: 0 auto;  
        font-weight: 700;
    }
    button  {
        background-color: rgba(0,0,0,0);
        color: red;
        border: red solid 2px;
    } 
    footer {
        height: 50px;
        color:red;
        background: linear-gradient(rgba(93,93,93,1), black);
        text-align: left;
        font-size: 20px;
        font-weight: 300;
    }
    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 679;
        height: 651px;
        width: 1156px;
    }

</style>